body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}
.container {
    width: 500px;
    margin: 0 auto 20px auto;
    padding: 25px 20px 20px 20px;
}
.form {
    background-color: teal;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}
.input:focus {
    outline: none;
}
.add {
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}
.tasks {
    background-color: teal;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
    list-style: none;
}
.tasks li {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
} 
.tasks li:not(:last-child) {
    margin-bottom: 15px;
}
.tasks li:hover {
    background-color: #f7f7f7;
}
.tasks li.done {
    opacity: 0.5;
}
.delete, .clear {
    font-weight: bold;
    font-size: 10px;
    background-color: white;
    color: black;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.clear {
    padding: 7px 10px;
    font-size: 15px;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}